// BACGROUND
.bg-cinza {
	background: $border-cinza;
}

.bg-azul {
	background: $azul;
	
	&.bg-transp {
		background: rgba($azul, .25);
	}
}

.bg-cor1 {
	background: $cor1;
	
	&.bg-transp {
		background: rgba($cor1, .25);
	}
}

.bg-cor2 {
	background: $cor2;
	
	&.bg-transp {
		background: rgba($cor2, .25);
	}
}

.bg-cor3 {
	background: $cor3;
	
	&.bg-transp {
		background: rgba($cor3, .25);
	}
}

.bg-cor4 {
	background: $cor4;
	
	&.bg-transp {
		background: rgba($cor4, .25);
	}
}

.bg-laranja {
	background: $laranja;
	
	&.bg-transp {
		background: rgba($laranja, .25);
	}
}

.branco {
	color: #ffffff;
}

.cor2 {
	color: $cor2;
}

.button {
	&.cor1 {
		background-color: $cor1;
		color: #ffffff;
		border-color: $cor1;

		i {
			color: #ffffff;
		}

		&:hover {
			background-color: darken($cor1, 10%);
			border-color: darken($cor1, 10%);
		}

		&.transparent {
			color: $cor1;
			background: transparent;

			i {
				color: $cor1;
			}

			&:hover {
				background-color: $cor1;
				color: #ffffff;

				i {
					color: #ffffff;
				}
			}
		}
	}

	&.cor2 {
		background-color: $cor2;
		color: #ffffff;
		border-color: $cor2;

		i {
			color: #ffffff;
		}

		&:hover {
			background-color: darken($cor2, 10%);
			border-color: darken($cor2, 10%);
		}

		&.transparent {
			color: $cor2;
			background: transparent;

			i {
				color: $cor2;
			}

			&:hover {
				background-color: $cor2;
				color: #ffffff;

				i {
					color: #ffffff;
				}
			}
		}
	}

	&.amarelo {
		background-color: $amarelo;
		color: #ffffff;
		border-color: $amarelo;

		&:hover {
			background-color: darken($amarelo, 10%);
			border-color: darken($amarelo, 10%);
		}
	}

	&.vermelho {
		background-color: $vermelho;
		color: #ffffff;
		border-color: $vermelho;

		&:hover {
			background-color: darken($vermelho, 10%);
			border-color: darken($vermelho, 10%);
		}
	}

	&.laranja {
		background-color: $laranja;
		color: #ffffff;
		border-color: $laranja;

		&:hover {
			background-color: darken($laranja, 10%);
			border-color: darken($laranja, 10%);
		}
	}

	&.azul {
		background-color: $azul;
		color: #ffffff;
		border-color: $azul;

		&:hover {
			background-color: darken($azul, 10%);
			border-color: darken($azul, 10%);
		}

		&.transparent {
			color: $azul;
			background: transparent;

			&:hover {
				background-color: $azul;
				color: #ffffff;
			}
		}
	}

	&.cinza {
		background-color: $cinza;
		color: darken($cinza, 30%);
		border-color: $cinza;

		&:hover {
			background-color: darken($cinza, 10%);
			border-color: darken($cinza, 10%);
		}

		&.transparent {
			color: darken($cinza, 20%);
			background: transparent;

			&:hover {
				background-color: $cinza;
				color: darken($cinza, 30%);
			}
		}
	}
}



// CORES
.label {
	&.vermelho {
		background-color: $vermelho;
	}

	&.azul {
		background-color: $azul;
	}

	&.laranja {
		background-color: $laranja;
	}
}