// BACGROUND
.bg-cinza {
	background: #f2f2f2;
}

.bg-azul {
	background: rgba($azul, .25);
	
	&.bg-total {
		background: $azul;
	}
}

.bg-laranja {
	background: rgba($laranja, .25);
	
	&.bg-total {
		background: $laranja;
	}
}

.branco {
	color: #ffffff;
}

.button {
	&.amarelo {
		background-color: $amarelo;
		color: #ffffff;
		border-color: $amarelo;

		&:hover {
			background-color: darken($amarelo, 10%);
			border-color: darken($amarelo, 10%);
		}
	}

	&.vermelho {
		background-color: $vermelho;
		color: #ffffff;
		border-color: $vermelho;

		&:hover {
			background-color: darken($vermelho, 10%);
			border-color: darken($vermelho, 10%);
		}
	}

	&.laranja {
		background-color: $laranja;
		color: #ffffff;
		border-color: $laranja;

		&:hover {
			background-color: darken($laranja, 10%);
			border-color: darken($laranja, 10%);
		}
	}

	&.azul {
		background-color: $azul;
		color: #ffffff;
		border-color: $azul;

		&:hover {
			background-color: darken($azul, 10%);
			border-color: darken($azul, 10%);
		}

		&.transparent {
			color: $azul;
			background: transparent;

			&:hover {
				background-color: $azul;
				color: #ffffff;
			}
		}
	}

	&.cinza {
		background-color: $cinza;
		color: darken($cinza, 30%);
		border-color: $cinza;

		&:hover {
			background-color: darken($cinza, 10%);
			border-color: darken($cinza, 10%);
		}

		&.transparent {
			color: darken($cinza, 20%);
			background: transparent;

			&:hover {
				background-color: $cinza;
				color: darken($cinza, 30%);
			}
		}
	}
}



// CORES
.label {
	&.vermelho {
		background-color: $vermelho;
	}

	&.azul {
		background-color: $azul;
	}

	&.laranja {
		background-color: $laranja;
	}
}