strong {
	font-weight: $bold;
}

h1 {
	width: 400px;
	display: block;
	margin: 45px auto;
	@include animacao();

	a {
		display: block;
		@include animacao();

		img {
			@include animacao;
			max-width: 100%;
		}

		&:hover {
			//opacity: .75;
		}
	}
}

h2 {
	font-size: 1.5625rem;
	position: relative;
	font-weight: $regular;
	color: $cortxt-bold;
	display: block;

	strong {
		font-size: 1.5625rem;
		color: $cortxt-bold;
	}

	&.sub-tituto {
		font-size: 1.25rem;
		line-height: 2rem;
		font-weight: $light;
		text-transform: none;

		a {
			font-size: 1.25rem;
			line-height: 2rem;
			font-weight: $light;
		}
	}
}

h3 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	font-weight: $bold;
	text-transform: uppercase;
}

h4 {
	font-size: 1rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: $bold;
	border-bottom: 1px solid $bege;
}

h5 {
	font-size: 2rem;
	line-height: 2rem;
	text-transform: uppercase;
	font-weight: $medium;
	color: $verde;

	@media all and (max-width: 500px){
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}

h6 {

}

p {
	font-size: $font-size;
	line-height: $font-size+.5;
	font-weight: $light;
	padding-bottom: 15px;

	&:last-child {
		padding-bottom: 0;
	}

	a {
		font-weight: $light;
		color: $rosa;

		&:hover {
			color: darken($rosa, 10%);
			text-decoration: underline;
		}
	}

	&.mini {
		font-size: 1rem;
		line-height: 1.25rem;
	}
	
	@media all and (max-width: 770px){
		font-size: 1.25rem;
		line-height: (1.25rem)+.5;
	}
}

.justify-center {
	text-align: justify;  
	-moz-text-align-last: center;
	text-align-last: center;
}

.justify {
	text-align: justify;  
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.no-margim {
	margin: 0;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-60 {
	margin-top: 60px;
}

.no-padding {
	padding: 0;
}

.no-padding-bottom {
	padding-bottom: 0;
}

.no-padding-top {
	padding-top: 0;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-40 {
	padding-top: 40px;
}

a {
	text-decoration: none;
	@include animacao;

	i {
		@include animacao;
	}

	&:hover {
		text-decoration: none;		
	}

	&.link {
		color: $laranja;

		i {
			font-size: .55rem;
			top: -2px;
			padding-left: 3px;
			color: $laranja;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}


.paginacao {
	margin: 50px auto 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0px;

		span, a {
			display: block;
			font-size: 1.225rem;
			font-weight: $medium;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
		}

		a {
			color: $verde;
			@include animacao;

			.fa {
				font-size: 1.225rem;
				font-weight: $medium;
				color: $verde;
			}

			&:hover {
				background-color: rgba($verde, .5);
			}
		}

		span {
			background-color: $verde;
			color: #ffffff;
		}
	}
}


.redes-sociais {
	i {
		font-size: 1.31rem;
		top: 2px;
		padding-right: 10px;
	}

	a {
		&:last-child {
			i {
				padding-right: 0;
			}
		}
	}
}