html {
	font-size: 100%; 
}

body {
	position: relative; 
	min-height: 100vh;
	min-width: $width;
}

body {
	font-family: $font-family;
	//color: $cortxt;
	//font-weight: $light;
	//font-size: $font-size; 
}

.container {
	max-width: $width; 
	width: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing;
	@include clear;
}

.row {
	display: block;
	@include clear();

	&:not(.no-padding){
		margin-right: ($padding-col)*(-1);
		margin-left: ($padding-col)*(-1);

		[class*="col-"] {
			padding-right: $padding-col; 
			padding-left: $padding-col;
		}
	}

	&.no-padding {
		margin: 0;
	}

	[class*="col-"] {
		float: left;
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	@for $i from 1 through 12 {
		.col-m-#{$i} {
			margin-left: $i*(100%/12);
		}
	}

	/*.col-4:nth-child(3n+1) {
		@include clear;
	}*/

	&.row-mini {
		margin-right: -15px;
		margin-left: -15px;

		[class*="col-"] {
			padding-right: 15px; 
			padding-left: 15px;
		}
	}
}

.section-content {
	@include clear;
	@include box-sizing();
	width: 100%;
	position: relative;
	padding: 75px 0;

	.content {
		padding-top: 75px;

		&.no-padding {
			padding: 0;
		}

		&.no-padding-bottom {
			padding-bottom: 0;
		}
	}

	&.border{
		border-top: 1px solid $border-cinza;
	}
}

.vertical-center {
	display: table;
	height: 100%;
	width: 100%;

	.content-vertical {
		display: table-cell;
		vertical-align: middle;
	}
}