.slide {
	height: $hSlide;
	background-color: $verde;
	
	.item {
		width: 100%;
		height: $hSlide;
		background-position: center;
		background-size: cover;
		line-height: $hSlide;

		.box-height {
			display: table;
			width: 100%;
			height: $hSlide;
			line-height: $hSlide;
			background-color: rgba($verde, .8);
		}
	}

	.controle-slide {
		position: absolute;
		top: 50%;
		margin-top: -23px;
		width: 100%;
		z-index: 100;
		display: none;

		a {
			height: 46px;
			width: 25px;
			position: relative;
			z-index: 990;
			@include animacao();

			&:hover {
				opacity: .5;
			}

			&.left {
				left: 10%;
				float: left;
				background-image: url('../images/seta-slide-left.png');
			}

			&.right {
				float: right;
				right: 10%;
				background-image: url('../images/seta-slide-right.png');
			}

			@media all and (max-width: 1300px){
				&.left {
					left: 5%;
				}

				&.right {
					right: 5%;
				}
			}

		}
	}

	.carousel-indicators {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 100%;
		display: inline-block;
		margin: 0;

		li {
			width: 44px;
			height: 53px;
			display: inline-block;
			margin: 0 5px;
			border: none;
			background: url('../images/slide_indicators-OFF.png') no-repeat;
			@include animacao;

			&.active {
				background-image: url('../images/slide_indicators-ON.png');
			}
		}
	}

	.ico-page {
		position: absolute;
		bottom: 20px;
		margin: 0;
		width: 100%;
		z-index: 999;

		li {
			padding: 0 50px;

			img {
				max-width: 100px;
			}

			span {
				font-size: 1.5rem;
				color: #ffffff;
				font-weight: $light; 
			}

			&:before, &:after {
				display: none;
			}

			a {
				@include animacao;

				&:hover {
					opacity: .5;
				}

				&.off {
					opacity: .4;

					&:hover {
						opacity: 1;
					}
				}
			}

			@media all and (max-width: 1000px){
				padding: 0 30px;
			}

			@media all and (max-width: 750px){
				padding: 0 20px;
				display: inline-block;
				margin: 0;
			}

			@media all and (max-width: 500px){
				padding: 0 15px;
				display: inline-block;
				margin: 0;

				img {
					max-width: 50px;
				}

				span {
					font-size: 1rem;
				}
			}
		}

		@media all and (max-width: 500px){
			bottom: 5px;

			li {
				img {
					max-width: 35px;
				}

				span {
					font-size: .875rem;
				}
			}
		}
	}
}