$width: 1280px;
$padding-container: 80px;
$padding-col: 30px;

$font-size: .87rem;

/* CORES */
$cortxt: #777777;
$cortxt-bold: #333333;
$cor1: #213F59;
$cor2: #FD672F;
$cor3: #03A5A5;
$cor4: #F29E38;

$border-cinza: #ededed;

$laranja: #FD672F;
$vermelho: #e70606;
$azul-celeste: #35cbc9;
$amarelo: #f5db00;
$verde: #365960;
$cinza: #E6E6E7;
$rosa: #ed7db5;
$dourado: #a4925f;
$azul: #62b5e5;
$bege: #a4925f;
$bordo: #790000;
$marrom: #99552b;
$roxo: #ffffff;
$verde-limao: #b5bd00;
$pink: #f4364c;

$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;
$extra-bold: 800;

$hSlide: 85vh;