//@import 'bootstrap.min.css';

@import 'style/_mixin';
@import 'style/_reset';
@import 'style/_variaveis';
@import 'style/_fonts';
@import 'style/_estrutura';
@import 'style/_elementos'; 
@import 'style/_form';
@import 'style/_modal';
@import 'style/_nav';
@import 'style/_slide';
@import 'style/_header';
@import 'style/_sidebar';
@import 'style/_footer';
@import 'style/_cores';

/* PAGES */
@import 'style/page/_home';
//@import 'style/page/_sobre';
//@import 'style/page/_contato';
@import 'style/page/_curso';
@import 'style/page/_noticias';
@import 'style/page/_forum';
@import 'style/page/_associado';
//@import 'style/page/_post';
//@import 'style/page/_intro-inscricao';
